@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}

.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
}

.link {
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  margin: 0 24px;
  padding-bottom: 4px;
}

.link:hover {
  color: #6415ff;
  text-decoration: underline;
}

.link--logo {
  font-size: 24px;
  margin-left: 16px;
  font-weight: 700;
}

.logo {
  width: 40px;
  height: 40px;
}

.link--login {
  margin: 0 24px 0 48px;
}

.link--signup {
  background-color: #6415ff;
  color: #f7fafc;
  padding: 12px 32px;
  border-radius: 20px;
}

.link--signup:hover {
  color: #f7fafc;
  text-decoration: none;
  background-color: #4310a9;
}

.btn__menu {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 40px;
  color: #6415ff;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #f7fafc;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.menu--open .menu__backdrop {
  display: flex;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 14px;
  color: #6415ff;
}

.menu__list {
  list-style-type: none;
  text-align: center;
  padding-bottom: 16px;
}

.menu__link {
  padding: 0;
  margin: 0;
}

.menu__list--login {
  margin-bottom: 8px;
}

/*

DESCRIPTION

*/

.description__container {
  display: flex;
  justify-content: center;
  padding: 96px 0;
}

.description {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 48px;
}

.purple {
  color: #6415ff;
}

.description__para {
  font-size: 18px;
  margin: 32px 0;
  font-weight: 300;
  line-height: 1.5;
}

.description__img {
  max-width: 100%;
}

.description__img--wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
}

.description__input--wrapper {
  position: relative;
  max-width: 100%;
}

.description__input {
  padding: 24px 192px 24px 32px;
  border-radius: 30px;
  border: 2px solid lightgray;
  max-width: 100%;
}

.description__input::placeholder {
  color: lightgray;
  font-weight: 500;
  font-size: 16px;
}

.description__input:hover {
  border: 2px solid darkgray;
}

.description__input:focus-visible {
  border: 0px;
  outline: 2px solid #6415ff;
}

.description__button {
  position: absolute;
  width: 10rem;
  right: 3px;
  border-radius: 30px;
  padding: 16px 0;
  top: 3px;
  bottom: 3px;
  margin: 4px 4px 4px 0;
  font-size: 14px;
  font-weight: 600;
  color: #f7fafc;
  background-color: #6415ff;
}

.description__button:hover {
  background-color: #4310a9;
}

.customers__container {
  margin-top: 88px;
}

.customers__text {
  font-size: 12px;
  font-weight: 700;
  color: #a0aec0;
}

.customers__img {
  max-width: 500px;
  max-height: 30px;
  margin: 16px 0 0;
  padding-right: 128px;
  opacity: 0.5;
}

/* 

FEATURES

*/

.row--features {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__header--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__header,
.quality__header,
.steps__header,
.values__header,
.pricing__header {
  font-size: 16px;
  margin-bottom: 16px;
  color: #6415ff;
}

.features__subheader,
.quality__subheader,
.steps__subheader,
.values__subheader,
.pricing__subheader {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  padding: 0 24px;
}

.features__header--text,
.quality__header--text,
.values__header--text,
.pricing__header--text {
  text-align: center;
  font-size: 18px;
  margin-top: 16px;
  color: #7c8ba1;
  max-width: 500px;
  font-weight: 500;
  line-height: 1.5;
}

.features__container--elements {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 16px;
}

.feature--wrapper {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.feature__text--container {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 8px;
}

.element__title {
  font-size: 24px;
  font-weight: 600;
  color: #243e63;
}

.element__description {
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.5;
  color: #7c8ba1;
}

.feature__img--wrapper {
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 

QUALITY WORK

*/

.row--quality {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}

.quality__header--text {
  text-align: left;
}

.quality__subheader {
  max-width: 550px;
}

.quality__text--container {
  width: 50%;
}

.quality__img--container {
  width: 50%;
}

.quality__img {
  max-width: 100%;
}

.learn__btn {
  width: 140px;
  height: 45px;
  border-radius: 30px;
  padding: 12px 24px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: 600;
  color: #f7fafc;
  background-color: #6415ff;
  border: none;
}

.learn__btn:hover {
  background-color: #4310a9;
}

/*

STEPS

*/

.row--steps {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 104px 0;
}

.steps--img__wrapper {
  width: 50%;
}

.steps__img {
  max-width: 100%;
  padding: 64px 64px;
}

.steps--text__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step__container {
  display: flex;
  margin-top: 32px;
}

.step__number {
  font-size: 36px;
  color: #cbd5e0;
  font-weight: 700;
}

.step__text--container {
  max-width: 320px;
  margin-left: 24px;
}

.step__header {
  font-size: 20px;
  color: #243e63;
}

.step__subtext {
  margin-top: 12px;
  font-size: 14px;
  color: #718096;
  font-weight: 600;
  line-height: 2;
}

/*

VALUES

*/

.row--values {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 32px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.values__text--container {
  width: 50%;
}

.values__img--container {
  width: 50%;
}

.values__img {
  max-width: 100%;
}

.feather {
  stroke: rgb(39 103 73);
  width: 20px;
  height: 20px;
}

.dollar__img--wrapper,
.briefcase__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(154, 230, 180);
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.values__details--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}

.detail__header--container {
  display: flex;
  align-items: center;
}

.values__detail--header {
  color: #243e63;
  font-size: 20px;
  font-weight: 700;
  padding-left: 12px;
}

.values__detail {
  width: 50%;
  margin-left: 8px;
}

.values__detail--para {
  color: #718096;
  font-size: 16px;
  margin-top: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.feather-briefcase {
  stroke: rgb(155, 44, 44);
}

.briefcase__img--wrapper {
  background-color: rgb(254, 178, 178);
}

/*

PRICING

*/
.row--pricing {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}

.pricing__header--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__options {
  display: flex;
  justify-content: center;
}

.pricing__option--container {
  margin: 64px 32px 0 0;

  width: calc(100% / 3);
}

.highlight--green,
.highlight--red {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.highlight--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.option--top {
  position: relative;
  padding: 32px 0px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.top__header {
  color: #1a202c;
  font-size: 20px;
  font-weight: 600;
}

.top__price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.top__monthly {
  color: #a0aec0;
  font-size: 16px;
}

.option--mid {
  padding: 32px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid__header {
  color: #1a202c;
  font-size: 20px;
  font-weight: 600;
}

.mid__li {
  color: #718096;
  font-size: 16px;
  margin-top: 20px;
  list-style-type: none;
  font-weight: 500;
}

.option--bottom {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 32px 64px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button--bottom {
  color: #f7fafc;
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
}

.button--bottom:hover {
  transform: translate(
    1px,
    -3px
  ); /* Move the button up by 3 pixels and right by 1 pixel */
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2); /* Adjust shadow to match button's new position */
}

.button--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.button--business {
  color: #6415ff;
}

.button--enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.option--business {
  background-color: #6415ff;
}

.white {
  color: white;
}

/*

TESTIMONIALS

*/

.row--test {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
  display: flex;
  align-items: center;
}

.test__text--container {
  width: 50%;
  padding-left: 48px;
}

.test__img--container {
  width: 50%;
}

.test__img {
  max-width: 100%;
}

.star__icon {
  width: 17px;
  fill: rgb(246 173 85);
  margin-right: 4px;
}

.star__icons {
  margin: 48px 0 12px 0;
}

.client__info--container {
  display: flex;
}

.client__name--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: center;
}

.client__name {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-bottom: 4px;
}

.client__role {
  font-size: 16px;
  color: #7c8ba1;
  font-weight: 500;
}

.client__img {
  width: 80px;
  border-radius: 50px;
}

.review__header {
  font-size: 20px;
  color: #243e63;
  font-weight: 700;
  margin-top: 16px;
}

.review__para {
  line-height: 1.5;
  font-size: 16px;
  color: #4a5568;
  font-weight: 500;
  margin: 16px 0 40px;
}

/*

FOOTER

*/

#contact {
  padding: 96px 0;
}

.row--contact {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #6415ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 90px;
}

.contact__header--container {
  width: 50%;
}

.contact__header {
  font-size: 30px;
  font-weight: 700;
  color: #f7fafc;
  max-width: 500px;
  display: flex;
  justify-content: center;
  padding: 32px;
}

.contact__buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px;
}

.button--get-started {
  background-color: #f56565;
  font-size: 16px;
  padding: 20px 40px;
  margin-right: 32px;
}

.button--get-started:hover {
  background-color: #c53e3e;
}

.button--contact-us {
  font-size: 16px;
  padding: 20px 40px;
  background-color: #6415ff;
  border: 1px solid white;
}

.button--contact-us:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

footer {
  background-color: #6415ff;
  padding: 96px 0;
}

.row--footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.footer__link {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.link__header {
  font-size: 16px;
  color: #f7fafc;
  font-weight: 700;
  text-align: center;
}

.link__li {
  margin-top: 12px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #f7fafc;
  list-style: none;
  text-align: center;
}

.link__li:hover {
  text-decoration: underline;
}

.footer__copyright--container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.logo__img {
  width: 32px;
  height: 32px;
}

.logo__img--name {
  font-size: 20px;
  font-weight: 800;
  color: #f7fafc;
  padding-left: 8px;
}

.copyright__text {
  color: #cbd5e0;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 24px;
  text-align: center;
}

.social-media__links {
  display: flex;
  align-items: center;
  padding: 24px;
}

.logo__fb {
  width: 16px;
}

.logo__tw {
}

.logo__yt {
}

hr {
  margin: 64px 0;
}

.sm__link--wrapper {
  height: 32px;
  width: 32px;
  background-color: #f7fafc;
  margin-right: 16px;
  padding: 8px;
  border-radius: 50px;
}

.sm__link--wrapper:hover {
  background-color: #c7cacc;
}

/*

MEDIA QUERIES 

*/

@media (max-width: 1200px) {
  .description__img {
    max-width: 80%;
  }

  .row,
  .row--contact,
  .row--features,
  .row--pricing,
  .row--quality,
  .row--steps,
  .row--values,
  .row--test,
  footer {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row--contact {
    max-width: 80%;
  }
}

@media (max-width: 1012px) {
  .description__container {
    flex-direction: column;
    align-items: center;
  }

  .contact__header {
    padding-right: 24px;
  }

  h1 {
    text-align: center;
    font-size: 30px;
  }
  .description__para {
    text-align: center;
    font-size: 16px;
  }

  .description {
    width: 80%;
    align-items: center;
  }

  .customers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .customers__img {
    margin: 16px 0;
    padding: 0;
    max-width: 100%;
  }

  .quality__text--container {
    padding-right: 32px;
  }

  .steps__img {
    padding: 64px 64px 64px 0;
  }

  .values__text--container {
    padding-right: 32px;
  }

  .values__detail--para {
    padding-bottom: 24px;
  }

  .values__details--container {
    flex-direction: column;
    align-items: start;
  }

  .values__header--text {
    text-align: left;
  }

  .pricing__options {
    flex-direction: column;
    align-items: center;
  }

  .pricing__option--container {
    width: 50%;
  }

  .feature--wrapper {
    width: 50%;
  }

  .mid__li {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .feature--wrapper {
    width: 100%;
  }

  .step__subtext {
    text-align: center;
  }

  .description__button {
    position: relative;
    margin-top: 24px;
  }

  .description__input--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description__input {
    width: 100%;
    padding: 24px;
  }

  .features__subheader,
  .quality__subheader,
  .steps__subheader,
  .values__subheader,
  .pricing__subheader {
    font-size: 36px;
  }

  .top__price {
    font-size: 36px;
  }

  .option--bottom {
    padding: 12px;
  }

  .footer__copyright--container {
    flex-direction: column;
    align-items: center;
  }

  .row--quality,
  .row--steps,
  .row--values,
  .row--test,
  .row--contact {
    flex-direction: column;
    align-items: center;
  }

  .quality__text--container,
  .steps__text--container,
  .values__text--container,
  .test__text--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 32px;
  }

  .row--quality,
  .row--values {
    flex-direction: column-reverse;
  }

  .quality__header,
  .quality__header--text,
  .quality__subheader,
  .step__header,
  .steps__subheader,
  .values__header,
  .values__subheader,
  .values__header--text,
  .pricing__header,
  .pricing__subheader,
  .pricing__header--text,
  .features__header,
  .features__subheader {
    text-align: center;
  }

  .quality__img--container {
    width: 80%;
  }

  .steps__img {
    padding: 24px;
  }

  .steps__img--wrapper,
  .test__img--container {
    padding: 32px;
    width: 80%;
  }

  .values__details--container {
    align-items: center;
    width: 80%;
  }

  .detail__header--container {
    align-items: center;
    justify-content: center;
  }

  .values__detail--para {
    text-align: center;
  }

  .values__detail {
    padding-bottom: 24px;
  }

  .contact__header {
    padding-bottom: 32px;
  }

  .row--contact {
    height: auto;
  }

  .button--bottom {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 925px) {
  .links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

@media (max-width: 500px) {
  .pricing__option--container {
    width: 90%;
  }

  .steps__img {
    padding: 0px;
  }

  .steps--img__wrapper {
    padding: 0;
  }

  .test__img--container {
    padding: 0;
  }

  .values__detail {
    width: 100%;
  }
}
